body 
{
    background-color: #d199ff;
}
h1 
{
    color: #380066;
    font-family: cursive;
    background-color: mediumorchid;
    text-align: center;
    font-size: 300%;
}
ol
{
    color: #380066;
    text-align: center;
    font-size: 200%;

}