body 
{
    background-color: #d199ff;
}
h1 
{
    color: #380066;
    font-family: cursive;
    background-color: mediumorchid;
    text-align: center;
    font-size: 300%;
}
h3
{
    text-align: center;
    color: #380066;
    font-size: 200%;
}
h4
{
    font-size: 200%;
    color: #380066;
}
h5
{
    font-size: 200%;
    color: #380066;
}
h6
{
    font-size: 200%;
    color: #380066;
}

